/* Siempre se lee de derecha a izquierda */
/* Selector de descendientes ;operador es el espacio */
section p {
    color: brown;
}


/* selector de hijo y el operador de hijo >, se usa para hacer menus */

section>p {
    color: blueviolet;
}


/* Selector de hermanos que usa el operador ~ (virgulilla)  se saca con alt gr 4 mas espacio*/

div~p {
    color: coral
}
/*  No existen los hermanos a priori solo lo que aparezca despues a partir de la etiqueta que estemos mostrando es decir a posteriori */

/* Selector de hermanos adyacentes y utiliza como operador el simbolo +  y es importante que siempre se coloque despues del hermano*/

div+p {
    color: darkgoldenrod;
}

/* Estos dos ultimos a penas se usa a menos que tengamos que hacer menus */