img {
    /* width: fit-content;  *//* le aplicamos esto para decirle a las imagenes que no se muestren a mas tamaño de su tamaño real */
    max-width:100%;
   /*  width: 100%; */
} /* Se ajusta al 100% de su padre div el wrapper */
/* fit-content: nos mostraria su tamaño real de ancho */

.image-wrapper-50 {
    width: 50%;
/*     float: left;
    margin-right: 1rem; */
    float: right;
    margin-left: 1rem;
}

.image-wrapper-25 {
    width: 25%;
}

.image-wrapper-75 {
    width: 75%;
}

.clearfix {
    clear: both;
    border-top: 1px solid gainsboro;
    bord
}

/* .fondos {
    height: 100vh;
    background-color:#579CDE;
    background-image:url("../assets/3boats.jpg");
    background-repeat: no-repeat; 
    background-size: 100%; 
    background-size:content;  no sabemos que balncos nos va a mostrar (mirarlo)
    background-size:cover;
    background-blend-mode: soft-light; */
}
/* CSS-Tricks como conseguir blend mode mirar para ver recursos */ 

.fondos {
    height:100vh;
    position: relative;
}

.fondos::after {
    content: "";
    display: block;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    background-color: #7AA7DC;
    background-image:url(../assets/3boats.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.4;
    /* hecho en clase el miercoles */
}
.fondos h2 {
    text-align: center;
    /* line-height: 100vh; */
    padding-top: 25vh;
    color:aliceblue;
}
