body 
{background-color: aqua

}

.h1 {
    display: block;
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}
.content-wrapper {
    margin-left: 2rem;
    margin-right: 2rem
     

}
.verde {
    color: darkgreen
}
/* aplicamos estilos a como queremos que se muestren las iámegenes, css es muy listo y mantiene el rango de proporcionalidad */
img, embed {width: 45%} /* Aqui podemos poner todas las cosas que queremos que nos lasm muestre con las mismas caracteristicas separados con una coma */

figure {margin: 0;
padding: 0;
}/* el margen se aplican a los 4 lados */

video{
    width: 100%;
}
