/* ESTA ES LA MANERA MÁS COMPLICADA DE PONER UN MENÚ */
*, *::after, *::before, *:after *:before {
    box-sizing: border-box; /* decide a que corresponde el ancho del widh */
} /* Esta sería la instrucción completa para los navegadores y se pone así porque los after y before nunca están incluidos estos. Se escribe de esas dos maneras porque son las maneras en las que nos podemos encontrar estos dos pseudo-elementos.*/


body {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

.main-header {
    display: flex;
    justify-content: space-between;/* esto se lleva cada elemento a un lado y el otro elemento al otro */
    align-items: center;
    background-color: brown;
    color: bisque;
    padding:2rem;
    font-family: 'Open Sans', cursive;
/* position: relative; */ /* lo ponemos para que actúe como origen de las coordenadas que vamos a dar */
}

/* Esto actúa como espacio de nombres. Es una manera de anidar */

/* .main-header div {
    margin: 1rem;
}
 */
.main-header h1 {
    margin: 0;
    padding: 0;
}

.main-header:hover p {
    display:initial;
    visibility: hidden;
}

.main-header p {
    margin-bottom: 0;
    margin-top: 0.2rem;
     /* display: none; */ /* Hace que se pierda el espacio reservado para la etiqueta a la que se le aplique */
    /* visibility: hidden; */ /* No cambia el resto de los elementos porque respeta el espacio. */
}

.menu ol, .menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.menu a {
    color: inherit;
    text-decoration: none;
}

.main-menu {
    border: 1px solid;
    border-radius: 5px;
}

.main-menu li {
    display: inline-block;/* Para que se dispongan en línea pero actúe como bloque, las imagenes se comportan como inline-block */
}

.main-menu a {
    /* color: inherit; */ /* Hereda el color del elemento padre, sea el que sea. */
    /* text-decoration: none; */ /* Para quitar el subrayado de los links */
    display: block; /* Le damos block porque a un elemento inline no le podemos dar padding. */
    padding: 1rem; /* Con ello aumentamos la parte clicleable del link */
}
/* Layout con display flex */

.content-wrapper {
    margin: 2rem;
    display: flex;
}

.main-content {
    width: 70%;
    /* para flex-grow; flex-shrink; flex-basis */
   /*  flex: 3 1 10%; */
    background-color: bisque;
    padding-left: 1rem;
    padding-right: 1rem;
}

.main-aside {
    /* display: flex; */
    width: 30%;
    /* flex: 1 3 10%; */
    padding-left: 1rem;
    padding-right: 1rem;
    background-color: darkcyan;
    border: 1px solid;
}
/*  CSS de la tabla */
table {
    width: 100%;
    border-collapse: collapse;
    empty-cells: hide;
}
table:hover {
    border-collapse: separate;
}

td,th {
    border: 1px solid black;

}

/* Esto pertenece al CSS del footer */
.main-footer {
    background-color: brown;
    color: bisque;
    padding-top: 1.2rem;
    padding-bottom: 1.5rem;
    text-align: center;
}

.social-menu {
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-size: 1.5rem;
}

.social-menu li {
    display: inline;
    color:bisque;
/* si le añadios al color un a estamos añadiendo un alfa (opacidad) hsla (240,100%, 50%, 0.5) y se expresa del 0 al 1 */
/* opacity: se mide en porcentajes y es más facil aplicarlo a fondos e incluso imágenes ya que si se le aplica a un elemento o texto lo heredaria el resto de elementos, sipor lo tanto lo mejor seria trabajarlo con los cnales alfa en cada elemtno */
}